@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body, ul {
    margin: 0px;
    padding: 0px;
    background-color: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration-line:overline blink;
    font-family:'Bebas Neue';
    font-weight: 600;
    justify-content: space-between;

}
.linkMenu {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
}

.linkMenu:hover:not(.botao) {
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
}
#header #menu a:hover {
    background: none;
}
#logo img {
    float: left;
    height: 120px;
    width: 120px;
    position: static;
    top: 50px;
    left: 10px;
    border: white;
    border-radius: 12px;
}
#header {
    width: 100%;
    position: relative; /* Adicionando o Position e Z-Index */
    z-index: 90;
    box-sizing: border-box;
    height: 120px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #121A3D;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#carouselExampleInterval {
    position: absolute;
    z-index: 10;
    gap: 0.5rem;
    padding-top: 15px;
}
.carouselExampleInterval .carousel-item img {
    height: 100px;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #121A3D;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid #121A3D;        
    }
    #nav.active #menu {
        height: calc(100vh - 70px); /* em PX é o tamanho da faixa do menu*/
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 25px;        
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }    
    /* CSS página media.html */
    
    .embed-container {
        position: relative;
        padding-bottom: 0;
        height: auto;
        max-width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
        padding-top: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .embed-container iframe, .embed-container object, .embed-container embed {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        /* border: solid thick rgb(87, 65, 45); */
        border-radius: 0.3em;
        box-shadow: rgb(204, 201, 201) 0.5em 0.5em 0.3em;
    }

    .embed-container .col-sm {
        margin-top: 10px;
    }

    /* CSS contato */

    .form_main {
    width: 100%;
    }

.form_main h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #6ae0fd;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #fff none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.text_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.formbutton[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #6ae0fd;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ae0fd;
    box-shadow: inset 0px 1px 0px 0px #6ae0fd;
    background-color: #121A3D; 
    display: inline-block;
    border: 1px solid #205f6e;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.formbutton:hover {
    background-color: #6ae0fd;
}
.formbutton:active {
    position: relative;
    top: 1px;
}
}


/* CSS configurando banner */

.section-banner-home {
    width: 100%;
    height: auto;
    padding: 50px;
    margin: 30px auto;
    background-color: #d1d1d1;
}
.section-banner-home img {
    height: 400px;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 700;
    padding-bottom: 20px; /* Margem interna do texto */
    color: rgb(255, 255, 255);
}

.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px; /* Margem externa abaixo do texto */
    color:#000000;
    font-weight: 400;
}
.section-banner-home .texto-banner a {
    color: #205f6e;
    text-decoration: none;
    background-color: rgb(249, 253, 255);
    padding: 4px 14px;
    font-size: 15px;
    font-weight: 200;
}
/* Fim Banner */
/* CSS Destaque */
.destaque h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 15px;
    margin: 30px auto;
    font-weight: 400;
}
.destaque figcaption {
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #205f6e;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
/* Fim CSS Destaque */
/* Início CSS Novidades */
.novidades {
    background-color: rgb(101, 101, 138);
    padding: 50px;
}
.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #ffffff;
}
.novidades p {
    color: rgb(252, 247, 239);
}
.novidades a {
    color: #000;
    text-decoration: underline;
    text-decoration-color: rgb(0, 204, 255);
    padding: 6px 12px;
    background-color: rgb(241, 236, 226);
    font-weight: 400;
}
/* Fim CSS novidades */
/* Início CSS galeria */
.galeria {
    margin: 60px auto 20px;
}
.galeria h2 {
    text-align: center;
    font-size: 24px;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
/* Fim CSS galeria */
/* Início CSS Footer */
.rodape {
    padding: 50px 50px 0;
}
.rodape .info-contato p {
    margin: 0px;
}
.rodape a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-sociais {
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 45px;
    height: 40px;
}
.rodape p.direiros {
    text-align: center;
    margin-top: 40px;
}

/* CSS página media.html */

.embed-container {
    position: relative;
    padding-bottom: 0;
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        /* border: solid thick rgb(87, 65, 45); */
        border-radius: 0.3em;
        box-shadow: rgb(204, 201, 201) 0.5em 0.5em 0.3em;
}

.embed-container .col-sm {
    margin-top: 10px;
}

/* CSS contato */

.contato {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form_main {
    width: 100%;
}

.form_main h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #6ae0fd;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #fff none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.text_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.formbutton[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #6ae0fd;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ae0fd;
    box-shadow: inset 0px 1px 0px 0px #6ae0fd;
    background-color: #121A3D; 
    display: inline-block;
    border: 1px solid #205f6e;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.formbutton:hover {
    background-color: #6ae0fd;
}
.formbutton:active {
    position: relative;
    top: 1px;
}

/* Fim CSS Contato */

/*Início mapa CSS */

.map {
    /* min-width: 300px;
    min-height: 300px; */
    width: auto;
    height: auto;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* Fim mapa CSS */
