@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, ul {
    margin: 0px;
    padding: 0px;
    background-color: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration-line:overline blink;
    font-family:'Bebas Neue';
    font-weight: 600;
    justify-content: space-between;

}
.linkMenu {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
}

.linkMenu:hover:not(.botao) {
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
}
#header #menu a:hover {
    background: none;
}
#logo img {
    float: left;
    height: 120px;
    width: 120px;
    position: static;
    top: 50px;
    left: 10px;
    border: white;
    border-radius: 12px;
}
#header {
    width: 100%;
    position: relative; /* Adicionando o Position e Z-Index */
    z-index: 90;
    box-sizing: border-box;
    height: 120px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #121A3D;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#carouselExampleInterval {
    position: fixed;
    z-index: 10;
    gap: 0.5rem;
    padding-top: none;
    width: 100%;
}
#carouselExampleInterval .carousel-item img {
    height: 540px;
    width: 100%;        
}